* {
    font-family: 'Segoe UI', Verdana, sans-serif;
    box-sizing: border-box;
}

#animated_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#animated_h1 {
    color: rgb(23, 23, 23);
}

#animated_h3 {
    color: rgb(36, 36, 36);
    font-size: 15px;
    font-weight: 500;
    margin-top: -10px;
}

.wrapper {
    background-color: #eaeaea;
    border: 1px solid black;
    margin: 40px auto;
    width: 800px;
    height: 500px;
    overflow: scroll;
}

.newTask {
    gap: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
    margin-top: 30px;
}

.newTask input {
    width: 250px;
    height: 25px;
    border-radius: 5px;
    border: none;
}

::placeholder {
    padding-left: 7px;
}

.newTask button {
    width: 100px;
    height: 30px;
    background-color: rgb(16, 179, 16);
    color: #fff;
    border: none;
    border-radius: 10px;
}

.tasks-ul {
    margin-top: 15px;
}

li {
    list-style: none;
    font-size: 25px;
    color: rgb(57, 57, 57);
    margin-right: 20px;
    width: 350px;
    flex-wrap: wrap;
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 50px;
}

.filters ul {
    margin-top: -70px;
    margin-left: -20px;
    display: none;
    flex-direction: column;
}

.filters ul li {
    font-size: 15px;
    font-weight: 600;
    color: rgb(47, 47, 47);
    border: 1px solid black;
    width: 100px;
    padding-left: 5px;
}

.filters p {
    font-size: 25px;
    font-weight: 600;
    color: rgb(42, 41, 40);
    margin-left: -70px;
}


